@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaRegular.woff');
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaLight.woff');
}

@font-face {
  font-family: 'HelveticaBold';
  src: url('../fonts/HelveticaBold.woff');
}