.form-container__form-item-style {
  font-size: 15px;
  font-family: $helvetica;
  border: none;
  outline: none;
}

.form-container {
  list-style-type: none;
  border: $main-grey-border;
  display: inline-block;
  margin: 10px 0;
  border-radius: $main-border-radius;
  box-sizing: border-box;
  padding: 3px 0;
  position: relative;

  li {
    display: inline-block;
    border-right: 2px solid $dark-grey;
    padding: 6px 10px;

    &:last-of-type {
      border: none;
    }
  }

  &__filter-label {
    margin-right: 7px;
  }

  &__additional-filters {
    @extend .form-container__form-item-style;
    position: relative;
    cursor: pointer;
  }

  &__checkbox-holder {
    background-color: white;
    position: absolute;
    top: 44px;
    left: -1px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px 15px 15px 5px;
    -webkit-box-shadow: 18px 39px 55px -21px rgba(153,141,153,0.75);
    -moz-box-shadow: 18px 39px 55px -21px rgba(153,141,153,0.75);
    box-shadow: 18px 39px 55px -21px rgba(153,141,153,0.75);
  }

  &__checkbox-label {
    margin-bottom: 6px;
  }

  &__filter {
    @extend .form-container__form-item-style;
    cursor: pointer;
  }

  &__search-field {
    @extend .form-container__form-item-style;
    width: 320px;
    &:placeholder {
      color: black;
    }
  }

  &__search-button {
    background-color: #fff;
    font-family: $helvetica;
    color: $main-blue;
    border: $main-blue-border;
    border-radius: $main-border-radius;
    font-size: 15px;
    padding: 10px 34px;
    cursor: pointer;
    transition: background-color $basic-transition;

    &:hover {
      background-color: $light-blue-hover;
    }
  }
}

.map-holder {
  overflow: hidden;
  border-radius: $main-border-radius;
  margin-bottom: 30px;
}